main {
  display: flex;
  min-height: calc(100vh - 80px);
}

.date-wrapper {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #404552;
  padding-left: 68px;
  height: 90px;
}

.date-wrapper .date {
  padding: 16px 24px;
  border-left: 1px solid gray;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

#daily,
#weekly,
#monthly {
  width: 100%;
}

.times-and-events {
  display: flex;
}

.day-of-week {
  margin-bottom: 4px;
}

/* weekly */

#weekly .date {
  width: calc(100% / 7);
}

#weekly .event {
  width: calc(100% - 12px);
}

/* monthly */

#monthly .col {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
}

#monthly .date-wrapper {
  padding-left: 0;
  display: flex;
}

#monthly .day-name {
  width: calc(100% / 7);
  border-right: solid 1px gray;
}

.monthly-events {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.monthly-events .day {
  width: calc(100% / 7);
  height: calc(100% / 5);
  border: 1px solid gray;
  padding: 8px;
  overflow: hidden;
  min-height: 72px;
}

.monthly-events .day-wrapper {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  max-height: 100%;
}

.monthly-events .day-number {
  text-align: center;
  margin-bottom: 8px;
}

.monthly-event {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4px;
  cursor: pointer;
}

.monthly-event .color-dot {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  background-color: #ff595e;
  border-radius: 50%;
}

.monthly-event .time {
  margin: 0 6px;
}

.monthly-event .name {
  font-weight: bold;
}

/* day of month */

.day-of-month-modal {
  padding-right: 40px;
}

.day-of-month-modal h3 {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #eaf2ef;
}

.day-of-month-modal .close-modal {
  position: absolute;
  top: 0;
  right: 8px;
}

