main {
  display: flex;
}

.date-wrapper.weekly {
  padding-left: 68px;
}

.date-wrapper .col-header {
  padding-bottom: 16px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

#daily,
#weekly,
.monthly {
  width: 100%;
}

.times-and-events {
  display: flex;
}

.sticky-wrapper.daily-view,
.sticky-wrapper.weekly-view,
.sticky-wrapper.monthly-view {
  background-color: #31343f;
  border-bottom: 1px solid #93A8AC;
}

/* weekly */

.weekly .col-header {
  width: calc(100% / 7);
}

#weekly .weekly-view {
  height: 100%;
  display: flex;
}

#weekly .mobile .events {
  flex-direction: column;
  flex-grow: 1;
}

.weekday {
  height: calc(100% / 7);
  max-width: calc(100vw - 80px);
  border: 1px solid gray;
  display: grid;
  grid-auto-columns: 20vw; /* set the default width of each grid cell to 20% */
  grid-auto-rows: 100%; /* set the default height of each grid cell to 100% */
  overflow-x: auto; /* enable scrolling when child elements overflow */
  overflow-y: hidden;
  grid-auto-flow: column; /* place grid items in columns */
}

.weekday .mobile-event {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 20%;
  flex-shrink: 0;
  height: 100%;
  border-right: 2px solid gray;
  word-wrap: break-word;
  background-color: #ff595e;
  cursor: pointer;
}

.date-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 80px;
  flex-shrink: 0;
}

.date-sidebar .date {
  border: 1px solid gray;
  border-left: 2px solid gray;
  height: calc(100% / 7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#weekly .mobile {
  display: none;
}

/* monthly */

.monthly .col-header {
  width: calc(100% / 7);
}

.monthly-events {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.monthly-events .day {
  width: calc(100% / 7);
  height: calc(100% / 5);
  border: 1px solid gray;
  border-top: none;
  padding: 8px;
  overflow: hidden;
  min-height: 72px;
}

.monthly-events .day-wrapper {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  max-height: 100%;
}

.monthly-events .day-number {
  text-align: center;
  margin-bottom: 8px;
}

.monthly-event {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4px;
  cursor: pointer;
}

.monthly-event .color-dot {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  background-color: #ff595e;
  border-radius: 50%;
  margin-right: 6px;
}

.monthly-event .time {
  margin-right: 6px;
}

.monthly-event .name {
  font-weight: bold;
}

/* day of month */

.day-of-month-modal {
  padding-right: 40px;
}

.day-of-month-modal h3 {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #eaf2ef;
}

.day-of-month-modal .close-modal {
  position: absolute;
  top: 0;
  right: 8px;
}

@media (max-width: 992px) {
  .monthly .col {
    padding: 0;
  }

  .monthly-event .color-dot,
  .monthly-event .time {
    display: none;
  }
}

@media (max-width: 768px) {
  #weekly .mobile {
    display: flex;
  }

  .desktop,
  #weekly .desktop {
    display: none;
  }

  #weekly .col {
    padding: 0;
  }

  .monthly .day-name {
    font-size: 16px;
  }

  .monthly-event .time {
    display: none;
  }

  .monthly .day {
    padding: 4px;
  }
  .monthly .day-number,
  .monthly-event .name,
  .monthly .hidden-events {
    font-size: 14px;
  }

  .monthly .day-number {
    white-space: normal;
  }
}

@media screen and (max-width: 480px) {
  .monthly .day-name {
    font-size: 14px;
  }

  .weekly-view .weekday {
    max-width: calc(100vw - 60px);
  }

  .mobile .date-sidebar {
    flex-basis: 60px;
  }

  .mobile .date-sidebar .day-name {
    font-size: 16px;
  }

  .mobile .date-sidebar .day-number {
    font-size: 20px;
  }
}
