.auth-modal {
  width: 400px;
}

.auth-modal form {
  display: flex;
  flex-direction: column;
}

.auth-modal .btn {
  margin-left: auto;
  margin-top: 16px;
}

.auth-modal .close-modal-btn {
  position: absolute;
  top: 8px; 
  right: 16px;
  background-color: transparent;
  border: none;
  padding: 12px;
  font-size: 16px;
}

.auth-modal .invalid {
  outline: solid red 2px;
  border: 1px solid transparent;
}