.events {
  width: 100%;
  display: flex;
}

.calendar-column {
  padding-top: 20px;
  border-left: 1px solid gray;
  width: 100%;
  position: relative;
}

.divider {
  border-top: 1px solid gray;
  min-height: 50px;
  width: 100%;
}

.event {
  position: absolute;
  background-color: #ff595e;
  width: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: solid 1px #fff;
  padding: 12px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform: translateY(20px); /* to account for padding on calendar-column */
  cursor: pointer;
}

.event .title {
  font-size: 16px;
}

.event .time {
  font-size: 16px;
  margin-top: 4px;
}

.event .notes {
  margin-top: 12px;
}

/* Event Sizing */

.event.small,
.event.medium {
  display: flex;
  flex-direction: column;
  justify-content: center;
}