.hours {
  margin-top: 28px;
  /* border-right: 1px solid gray; */
  transform: translateY(-8px);
  display: inline-flex;
  flex-direction: column;
}

.hour-wrapper {
  height: 50px;
  width: 68px;
  display: flex;
  justify-content: flex-end;
}

.hour {
  transform: translateY(-8px);
}

.border-provider {
  border-top: solid 1px gray;
  width: 12px;
  height: 1px;
  margin-left: 12px;
}