nav {
  background-color: #31343f;
  /* height: 80px; */
  border-bottom: 1px solid #93A8AC;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav .container {
  padding-top: 20px; 
}

nav .row {
  padding-bottom: 20px;
}

nav .col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .date {
  display: flex;
  align-items: center;
}

.auth .btn {
  margin-left: 24px;
}

.logout-btn {
  background-color: #598392;
}

.btn.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-left: -16px;
}

.fa-bars {
  font-size: 24px;
}

.nav-date-btns {
  display: flex;
  margin-right: 16px;
}

.month-and-year-wrapper {
  padding: 12px 8px;
  margin-left: -8px;
}

.change-date-btn {
  background-color: #404552;
  font-size: 18px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-date-btn {
  background-color: #404552;
  margin: 0 12px;
}

.nav-top-row button,
.nav-top-row select {
  font-size: 16px;
  height: 40px;
}

nav .new-event-btn {
  background-color: #0CCE6B;
  font-size: 16px;
}

nav .new-event-text {
  margin-left: 8px;
}

.change-view-btn {
  margin: 0 12px;
}

.top-left,
.top-right {
  display: flex;
  align-items: center;
}


@media screen and (max-width: 992px) {
  nav .col {
    align-items: start;
  }
  .top-left {
    flex-direction: column;
    align-items: start;
  }

  .top-right {
    flex-direction: column-reverse;
    align-items: end;
  }

  .nav-date-btns,
  .month-and-year-wrapper {
    margin-right: 0;
    margin-top: 16px;
  }
}