nav {
  background-color: #31343f;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #93A8AC;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav .date {
  display: flex;
  align-items: center;
}

.auth .btn {
  margin-left: 24px;
}

.auth .logout-btn {
  background-color: #598392;
}

.nav-date-btns {
  display: flex;
}

.month-and-year-wrapper {
  padding: 12px 8px;
  cursor: pointer;
}