.nav-wrapper {
  position: sticky;
  top: 0;
  z-index: 2;
}

nav {
  background-color: #31343f;
  /* height: 80px; */
  border-bottom: 1px solid #93A8AC;

  width: 100%;
  z-index: 2;
}

nav .container {
  padding-top: 20px; 
}

nav .row {
  padding-bottom: 20px;
}

nav .col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .date {
  display: flex;
  align-items: center;
}

.auth .btn {
  margin-left: 24px;
}

.logout-btn {
  background-color: #598392;
}

.btn.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-left: -16px;
}

.fa-bars {
  font-size: 24px;
}

.nav-date-btns {
  display: flex;
}

nav .date {
  padding: 12px 8px;
  margin-left: -8px;
}

.change-date-btn {
  background-color: #404552;
  font-size: 18px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-date-btn {
  background-color: #404552;
  margin: 0 12px;
}

nav button,
nav select {
  font-size: 16px;
  height: 40px;
}

nav .new-event-btn {
  background-color: #0CCE6B;
}

nav .new-event-text {
  margin-left: 8px;
}

.change-view-btn {
  margin: 0 12px;
}

.top-left,
.top-right {
  display: flex;
  align-items: center;
}

@media (max-width: 576px) {
  nav .btn {
    font-size: 14px;
    padding: 4px 12px;
  }

  nav .change-view-btn {
    margin: 0 8px;
  }
}

@media screen and (max-width: 480px) {
  .new-event-text {
    display: none;
  }
}