/*

    GENERAL

*/

.new-event-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 576px;
  width: 100%;
}

/*

    FORM CONTROLS

*/

.new-event-form .name {
  width: 100%;
  margin-bottom: 12px;
}

.new-event-form .date {
  width: 40%;
  text-align: center;
}

.new-event-form .times-wrapper {
  width: 60%;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-event-form .time {
  width: 40%;
  text-align: center;
}

.new-event-form .notes {
  width: 100%;
  margin: 12px 0;
  min-height: 80px;
}

.new-event-form .cancel-btn {
  margin-left: auto;
}

.new-event-form .save-btn {
  margin-left: 12px;
}

.fa-arrow-right {
  transform: translateY(8px);
}