/*

    GENERAL

*/

.new-event-form {
  display: flex;
  flex-wrap: wrap;
}

.new-event-form input,
.new-event-form textarea {
  padding: 8px;
  min-height: 40px;
  border: solid 1px #292929;
  border-radius: 4px;
  font-family: sans-serif;
}

.new-event-form input:focus,
.new-event-form textarea:focus {
  outline: solid 2px #2e8cff;
  border: solid 1px transparent;
}

.new-event-form * {
  font-size: 16px;
}

/*

    FORM CONTROLS

*/

.new-event-form .name {
  width: 100%;
  margin-bottom: 12px;
}

.new-event-form .date {
  width: calc(50% - 12px);
  padding: 8px;
}

.new-event-form .time-wrapper {
  width: 50%;
  margin-left: 12px;
}

.new-event-form .start-time {
  width: calc(50% - 6px);
}

.new-event-form .end-time {
  width: calc(50% - 6px);
  margin-left: 12px;
}

.new-event-form .notes {
  width: 100%;
  margin: 12px 0;
}

.new-event-form .cancel-btn {
  margin-left: auto;
}

.new-event-form .save-btn {
  margin-left: 12px;
}