.sidebar {
  position: sticky;
  top: 0px;
  height: calc(100vh - 80px);
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #31343F;
  border-right: 1px solid #93A8AC;
}

.sidebar .fa-plus {
  margin-right: 8px;
}