.view-event {
  display: flex;
  flex-wrap: wrap;
  max-width: 576px;
  width: 100%;
}

.view-event .name {
  width: 100%;
  margin-bottom: 8px;
}

.view-event .dot,
.view-event .time {
  margin-left: 12px;
}

.view-event .notes {
  width: 100%;
  margin-top: 12px;
  border-top: 1px solid gray;
  padding-top: 12px;
}

.view-event .modal-actions {
  margin-top: 12px;
}
.view-event .modal-icon {
  margin-left: 12px;
  padding: 8px;
}

