main {
  display: flex;
  min-height: calc(100vh - 80px);
  transform: translateY(80px);
}

.daily-view {
  padding-left: 20px;
}

.day-of-month {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #404552;
  /* margin-left: 65px; */
}

.day-of-month .wrapper {
  margin-left: 68px;
  padding: 16px 24px;
  border-left: 1px solid gray;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
}

.daily-view {
  width: 100%;
}

.times-and-events {
  display: flex;
  margin-top: 8px;
}

.change-date-btn {
  margin-left: 12px;
  background-color: #404552;
  font-size: 18px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-date-btn {
  margin-left: 16px;
  background-color: #404552;
  
}