/* 2e8cff */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  padding: 0 24px;
}

.row {
  margin: 24px 0;
}

.btn {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #2e8cff;
  color: #fff;
}