/* 

    GLOBAL STYLES

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root,
main {
  flex: 1;
}

body {
  font-family: sans-serif;
  background-color: #404552;
  color: #fff;
}




button {
  cursor: pointer;
}

input,
textarea {
  padding: 8px;
  min-height: 40px;
  border: solid 1px #31343f;
  border-radius: 4px;
  font-family: sans-serif;
  margin-top: 16px;
}

input:focus,
textarea:focus {
  outline: solid 2px #3f8efc;
  border: solid 1px transparent;
}

form * {
  font-size: 16px;
}

/*

    LAYOUT

*/

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  max-width: 1328px;  /* 1280 + 24px padding */
  width: 100%;
}

.col {
  padding: 0 24px;
}

.dfa {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

/*

    REUSABLES

*/

.btn {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #3f8efc;
  color: #fff;
}

form .invalid {
  outline: solid #ff595e 2px;
  border: 1px solid transparent;
}

.modal-actions {
  position: absolute;
  top: 8px; 
  right: 16px;
}

.modal-icon {
  background-color: transparent;
  border: none;
  padding: 12px;
  font-size: 16px;
  color: #EAF2EF;
  padding: 16px 12px;
}

@media (max-width: 992px) {
  .show-992 {
    display: block !important;
  }

  .hide-992 {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .col {
    padding: 0 16px;
  }
}